*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: #080f28;
    padding: 1%;
}

header{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #14235b;
    border-radius: 15px;
    margin: 2rem;
}

.headerSectionLogo{
    width: 40%;
    display: flex;
    justify-content: start;
}

.headerSectionMenu{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
    border: none;
}

.logo:hover{
    cursor: pointer;
}

.divDropdownButton{
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border-radius: 15px;
}

.headerDropdownDiv:hover .dropdownContent{
    display: block;
}

.dropdownContent a:hover{
    background-color: rgb(0, 133, 190);
}

.dropdownContent a:active{
    background-color: rgb(80, 203, 255);
}

.headerSearchBar{
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    border-radius: 15px;
}

.headerSearchButton, .returnButton{
    margin-left: 1rem;
    height: 5rem;
    width: 8rem;
    border-radius: 15px;
    background-color: white;
}

.headerSearchButton:hover, .returnButton:hover{
    cursor: pointer;
    background-color: rgb(0, 133, 190);
}

.headerSearchButton:active, .returnButton:active{
    background-color: rgb(80, 203, 255);
}

.sectionLandingMessage{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 10rem;
    color: white;
}

p{
    font-size: 3rem;
    color: white;
    margin: 2rem;
}

.sectionButtonOptions{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.buttonGenreOptions{
    height: 2em;
    width: 12em;
    border-radius: 15px;
    font-size: 5rem;
}

.buttonGenreOptions:hover{
    cursor: pointer;
}

.buttonGenreOptions:active{
    background-color: rgb(0, 133, 190);
}

.divContainers{
    background-color: #14235b;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
}

img{
    border-radius: 15px;
    object-fit: fill;
    border: black solid;
    margin: 5px 10px 5px 10px;
    width: 12rem;
    height: 200px;
    display: flex;
}

img:hover{
    cursor: pointer;
}

.movieContainer{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





.returnButton{
    margin-left: 2rem;
    font-size: 2rem;
}


.mediaDetailsContainer{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mediaDetailsContainer ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    padding-left: 25rem;
    padding-right: 25rem;
}

.mediaDetailsContainer h1{
    font-size: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.mediaDetailsContainer p{
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.mediaDetailsContainer h2{
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.mediaDetailsContainer img{
    border: none;
    border-radius: 0;
    width: 40rem;
    height: 50rem;
    box-shadow: 5px 5px 15px black;
}

